config = {}

# Secret stuff
config['SECRET_KEY'] = 'wow'

# Server name
config['SERVER_NAME'] = 'localhost:5000'
config['PREFERRED_URL_SCHEME'] = 'http'

#OpenID config
config['OPENID_STORE'] = '/tmp/such'

# Steam Keys
config['STEAM_API_KEY'] = 'key'

# Database config
config['SQLALCHEMY_DATABASE_URI'] = 'sqlite:////tmp/verylite.db'

# Upload handling
config['UPLOAD_FOLDER'] = 'uploads'
config['ALLOWED_EXTENSIONS'] = set(['jpg', 'jpeg', 'png', 'gif'])

# Minification
config['ASSETS_DEBUG'] = True
