// Screen
// ======

@import url(http://fonts.googleapis.com/css?family=Open+Sans:300,400&subset=latin,latin-ext);
@import "compass/utilities/general/clearfix";
@import "compass/layout/sticky-footer";
@import "compass/css3/box-shadow";
@import "compass/css3/transition";
@import "grids";

$header-color:#2E2E2E;
$primary-color:#428bca;
$secondary-color:orange;

body {
	margin: 0;
}

html {
	overflow: auto;
}

body {
    @include container;
	@include clearfix;
    font: 300 1.05em / 1.5em"Open Sans", serif;
    color: $primary-color;
    background: darken($header-color, 0%);
}

a {

	color: darken(white, 10%);
	text-decoration: none;

	@include transition(color 0.5s ease-in-out);

	&:hover {
		color: orange;
	}
}

.topbar {

	@include clearfix;
	margin-top: 25px;
	width: 100%;
}

.topbar-create {
	float: left;
}

.topbar-login {
	float: right;
}

.footer {
	@include container(50%);
	@include sticky-footer(1em);
	font-size: 0.8em;
	padding: 25px;
}

.footer-logout {
	float: left;
}

.footer-steam {
	float: right;
}

.flashes {
	@include container(50%);
	padding: 25px;
	padding-bottom: 0;

	list-style: none;
	
	li {
		background: darken($header-color, 10%);
		padding: 15px;
	}

}

.content {
    @include container(50%);
	min-width: 400px;
}

.header {
    @include box-shadow(inset 0px 1px -1px lighten($header-color, 10%));
    @include clearfix;
    padding: 25px;
}

.event-small {


}

.event-small-title {
	font-size: 1.5em;
	float: left;
}

.event-small-description {
	
}

.event-small-slots {
	font-weight: 400;
	float: right;
}


.event {

}

.event-title {
	
}

.event-image {
	img {
		width: 100%;
		height: auto;
	}
}

.event-description {
	header {
		background: darken($header-color, 4%);
		font-weight: 400;
		padding: 10px;
	}
	section {
		background: darken($header-color, 5%);
		padding: 15px;
		line-height: 1.5em;
		font-size: 0.8em;
		color: darken(white, 15%);
	}
}

.event-side {
	background: lighten($header-color, 2%);
	border: 1px solid darken($header-color, 3%);
	
	h2 {
		background: darken($header-color, 5%);
		padding: 15px;
		margin: 0;
	}

}

.event-group {
	h3 {
		border-bottom: 1px solid darken($header-color, 3%);
		padding: 15px;
		margin: 0;
	}
}

.event-group-undefined {
	
}

.event-slot {
	padding: 5px;
	padding-left: 15px;

	.assignee {
		text-align: right;
		color: green;
	}
	
}

.event-slots {
	padding: 25px;
}

.event-slots-undefined {

}	

.event-slot-assigned {
	
}

.event-slot-unassigned {	
	&:hover {
		@include transition(background 0.5s ease-in-out);
		background: lighten($header-color, 5%);
		cursor: pointer;	
	}
}


[ng\:cloak],
[ng-cloak],
[data-ng-cloak],
[x-ng-cloak],
.ng-cloak,
.x-ng-cloak {
    display: none !important;
}

.event-creation {

    .create-header {
        text-align: center
    }
    input[type="text"] {
      margin: 0;
      font-family: inherit;
      font-size: 80%;
      appearance: none;
      box-shadow: none;
      border-radius: none;
    }
    input[type="text"]:focus {
      outline: none;
    }
    
    .event-input input[type="text"] {
      padding: 2px;
      border: solid 5px #c9c9c9;
      transition: border 0.3s;
    }
    
    .event-input input[type="text"]:focus,
    .event-input input[type="text"].focus {
      border: solid 5px #969696;
    }
    
    .mission-image-upload {
        margin-top: 1em;
        input {
            margin-left: 1em;
        }
    }
    .mission-image{
        img {
            width: inherit;
            max-width: 100%;
            height: auto;
            margin-top: 1em;

        }
    }

    .mission-desc {
        height: 10em;
        width: 100%
    }

    .mission-select-sides {
        font-size: 60%;
        color: floralwhite;
    }

    .mission-sides-container {
        width: 100%;
        clear: left
    }

    .side-display-name {
        margin-bottom: 0px
    }

    .side-groups-container {
        margin-top: 1em
    }

    .single-group {
        float: left;
        padding: .2em .2em .6em 0;
        min-height: 14.4em;
        .add-remove-units-container {
            padding-top: .2em;

            .left {
                float: left;
            }
            .right {
                float: right;
            }

        }
    }

    .single-unit-input {
        display: block;
    }

    .event-submit-container {
        clear: both;
        padding-top: 2em;
    }
	p.error-message {
		border: 1px solid red;
		margin-top:1em;
		padding:4px 4px 4px 3em;
		color: #D8000C;
		background-color: #FFBABA;
		font-size: 70%;
	}

}
