{% extends 'layout.html' %}

{% block content %}
<div class="content">
	<div class="topbar">
		{% if g.user and g.user.is_admin %}
			<a class="topbar-create" href="{{ url_for('create_event')}}">Create Event</a>
		{% endif %}
		{% if not g.user %}
			<a class="topbar-login" href="{{ url_for('login')}}"><img src="http://steamcommunity-a.akamaihd.net/public/images/signinthroughsteam/sits_small.png"/></a>
		{% endif %}
	</div>
	<div class="header">
		{% for event in events %}
			{% include 'event.html' %}
		{% else %}
			<h1>No event scheduled!</h1>
		{% endfor %}
	</div>
	<div class="pastevents">
		{% for event in pastevents %}
			{% include 'pastevent-small.html' %}
		{% endfor %}
	</div>

</div>
{% endblock %}
