{% extends 'layout.html' %}

{% block content %}
<div class="content">
	<div class="login">
		{% if not g.user %}
		<a href="{{ url_for('login')}}"><img src="http://steamcommunity-a.akamaihd.net/public/images/signinthroughsteam/sits_small.png"/></a>
		{% endif %}
	</div>
	<div class="header">
		{% for event in events %}
			{% include 'event.html' %}
		{% else %}
			<h1>No event scheduled!</h1>
		{% endfor %}
	</div>
	<div class="pastevents">
		{% for event in pastevents %}
			{% include 'pastevent-small.html' %}
		{% endfor %}
	</div>
	<div class="footer">
		{% if g.user %}
			<a class="logout" href="{{ url_for('logout') }}">Log out</a>
		{% endif %}
		<div class="steam">Powered by Steam. <a href="http://steampowered.com">http://steampowered.com</a></div>
	</div>
</div>
{% endblock %}
