<!doctype html>
<html>
	<head>
		<title>...</title>
		<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css')}}" type="text/css"/>
		{% block headtail %}
		{% endblock %}
	</head>

	<body>
		{% with messages = get_flashed_messages() %}
			{% if messages %}
				<ul class=flashes>
				{% for message in messages %}
					<li>{{ message }}</li>
				{% endfor %}
				</ul>
			{% endif %}
		{% endwith %}
		{% block content %}
		{% endblock %}
	</body>

</html>

{% block tail %}
{% endblock %}
