{% import '_default.html' as def %}

<!doctype html>
<html>
	<head>
		<title>{% block title %} {{def.title}} {% endblock %}</title>
		{% assets "css_all" %}
		<link rel="stylesheet" href="{{ ASSET_URL }}" type="text/css"/>
		{% endassets %}
        
		{% block headtail %}
		{% endblock %}
	</head>

	<body>
		{% with messages = get_flashed_messages() %}
			{% if messages %}
				<ul class=flashes>
				{% for message in messages %}
					<li>{{ message }}</li>
				{% endfor %}
				</ul>
			{% endif %}
		{% endwith %}
		{% block content %}
		{% endblock %}	
		<div class="footer">
			{% if g.user %}
				<a class="logout" href="{{ url_for('logout') }}">Log out</a>
			{% endif %}
			<div class="steam">Powered by Steam. <a href="http://steampowered.com">http://steampowered.com</a></div>
	</div>
	</body>

</html>

{% block tail %}
{% endblock %}
